* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.card_course {
  width: 770px;
  padding: 20px;
  border: 4px solid #000;
  border-radius: 4px;
  margin: 20px auto 0;
  position: relative;
}

.card_course::before {
  content: "sale";
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  top: -6px;
  left: -30px;
  transform: rotate(325deg);
}

.title_course {
  color: #0043ff;
  border-radius: 4px;
  border: 2px solid #0043ff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.wrapper .img_box img {
  width: 100%;
  height: auto;
}

.img_box {
  flex: 1;
}

.img_box .image_course {
  border-radius: 4px;
  margin-bottom: 20px;
}

.content_box {
  flex: 1;
}

.content_box .price_course {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.content_box .description_course {
  color: gray;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content_box .link_course {
  color: #000;
}

.content_box .link_course:hover {
  text-decoration: none;
}

.content_box .roadmap_list {
  list-style: none;
  display: flex;
  gap: 5px;
}

.content_box .roadmap_list li {
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 3px;
  text-transform: uppercase;
}

.content_box .roadmap_list li:first-of-type {
  border-color: #ffa500;
}

.content_box .roadmap_list li:nth-of-type(2) {
  border-color: #0000ff;
}

.content_box .roadmap_list li:last-of-type {
  border-color: #f6f62b;
}

.list_box .title,
.content_box .roadmap_title {
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  margin: 10px 0 5px;
}

.list_box {
  flex: 1;
}

.list_box .course_list {
  list-style: square;
  margin: 0 0 20px 20px;
}

.course_btn {
  background-color: #0043ff;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  transition: background 0.3s;
  width: 100%;
}

.course_btn:hover {
  background-color: rgba(0, 67, 255, 0.8);
}
