@import "_variables.scss";
@import "_reset.scss";
@import "_global.scss";

// Start Header Section
.header {
  padding: 40px 0;
  .header__wrapper {
    @include grid(3, 1fr, space-between, center);
    .navigation__links {
      @include flex(row, space-between, center);
      li {
        margin: 0 1.875rem;
      }
    }
    .registration {
      @include flex(row, flex-end, center);
      .signIn-btn {
        padding-right: 1.875rem;
      }
    }
  }
}
// End Header Section

// Start Bio Section
.bio {
  padding: 3.57rem 0;
  .bio__wrapper {
    @include grid(2, 1fr, space-between, center);
    .bio__heading {
      font-size: var(--font-size-50);
      font-weight: var(--font-weight-medium);
      line-height: 4.375rem;
      color: var(--color-heading);
      margin-bottom: 1.25rem;
      span {
        font-weight: var(--font-weight-bold);
      }
    }
    .bio__text {
      line-height: var(--text-line-height);
      margin-bottom: 3.75rem;
      span {
        font-weight: var(--font-weight-medium);
      }
    }
    .bio__img {
      img {
        max-width: 100%;
      }
    }
  }
}
// End Bio Section

// Start Statistics Section
.statistics {
  @include grid(3, 1fr, space-between, center);
  box-shadow: 0px 48px 63px rgba(0, 0, 0, 0.04);
  gap: 3rem;
  border-radius: var(--border-radius);
  padding: 2.5rem;
  margin-top: var(--margin-tb);
  .statistics__item {
    @include flex(row, center, center);
    &:nth-of-type(2) {
      border-left: 1px solid var(--color-border);
      border-right: 1px solid var(--color-border);
    }
    padding: 2.5rem 0;
    .statistics__icon {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      background-color: #ffecec;
      color: var(--color-primary);
      text-align: center;
      margin-right: 30px;
      font-size: var(--font-size-25);
    }
    .statistics__info {
      line-height: var(--text-line-height);
      h3 {
        font-size: var(--font-size-25);
        color: var(--color-heading);
        font-weight: var(--font-weight-bold);
      }
      span {
        font-size: var(--font-size-20);
      }
    }
  }
}
// End Statistics Section

// Start Features Section
.features {
  .features__wrapper {
    display: grid;
    grid-template-columns: 60% 36%;
    justify-content: space-between;
    align-items: center;
    .features__img {
      text-align: center;
    }
    .features__description {
      .features__text {
        line-height: var(--text-line-height);
        margin-bottom: var(--margin-bottom);
      }
      .features__list {
        .features__list-item {
          margin-bottom: var(--margin-bottom);
          padding-inline-start: 35px;
          position: relative;
          &::before {
            content: "\f26b";
            width: 1.5rem;
            height: 1.5rem;
            font-family: "Material-Design-Iconic-Font";
            font-weight: bold;
            text-align: center;
            line-height: 1.5rem;
            background-color: var(--color-green);
            color: var(--color-white);
            border-radius: 50%;
            position: absolute;
            top: -2px;
            margin-inline-start: -40px;
          }
        }
      }
    }
  }
}
// End Features Section

// Start Pricing Section
.pricing {
  background-color: var(--color-background);
  .pricing__header {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: var(--text-line-height);
    margin-bottom: var(--margin-bottom);
  }
  .pricing__wrapper {
    @include grid(3, 1fr, space-between, 0);
    gap: 3rem;
    .pricing__plan {
      @include flex(column, flex-start, center);
      border: 2px solid var(--color-border);
      border-radius: var(--border-radius);
      background-color: var(--color-white);
      padding: 3.625rem 1.875rem;
      .pricing__plan-img {
        margin: 1.875rem 0;
        .pricing__plan-heading {
          margin: 1.875rem 0;
          text-align: center;
          font-size: var(--font-size-18);
          font-weight: var(--font-weight-medium);
          color: var(--color-heading);
        }
      }
      .pricing__plan-list {
        min-height: 320px;
        .pricing__item-list {
          margin-bottom: var(--margin-bottom);
          position: relative;
          &::before {
            content: "\f26b";
            font-family: "Material-Design-Iconic-Font";
            font-weight: bold;
            color: var(--color-green);
            position: absolute;
            top: 0px;
            margin-inline-start: -30px;
          }
        }
      }
    }
  }
}
// End Pricing Section
